{% extends 'layout.html' %}

{% block body %}
  <div class='address-book'>
    <h1 class='title'>Your Address Book</h1>
    <ul class="addresses">
      {% for address in addresses %}
        <li class="address-entry">
            {{ address.name }}
            {{ address.address }}
            {{ address.city }}
            {{ address.state }}
            {{ address.zip_code }}

        </li>
      {% endfor %}
    </ul>
    <a href="new-address" class="address-link">Add new address</a>
  </div>
{% endblock %}
