{% extends 'layout.html' %}

{% block body %}
  <div class='container'>
    <h2 class='title'>Your Addresses</h2>
    <ul class="addresses">
      {% for address in addresses %}
        <li class="address-entry">
            <div class="address-block">
              <p class="address-data">{{ address.name }}</p>
              <p class="address-data">{{ address.address }}</p>
              <p class="address-data">{{ address.city }}, {{ address.state }} {{ address.zip_code }}</p>
            </div>
            <form
              action="{{url_for('delete_address', name=address.name)}}"
              method="post">
              <input type="hidden" name="_method" value="X" />
              <input type="submit" value="X" class="delete-button"/>
            </form>
        </li>
      {% endfor %}
    </ul>
      <span class="nav-link"><a href="new-address">+ New Address</a></span>
  </div>
{% endblock %}
