<!DOCTYPE html>
<html>
  {% block styles %}
  <head>
    <title>Address Book</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    {% include 'includes/_nav.html' %}
    <div class="main-container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
  </body>
  {% endblock %}
</html>
