{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <h2 class="title">Add Address</h2>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="" class="address-book">
      <div class="form-field">
        {{render_field(form.name, class_="form-input")}}
      </div>
      <div class="form-field">
        {{render_field(form.address, class_="form-input")}}
      </div>
      <div class="form-field">
        {{render_field(form.city, class_="form-input")}}
      </div>
      <div class="form-field">
        {{render_field(form.state, class_="form-input")}}
      </div>
      <div class="form-field">
        {{render_field(form.zip_code, class_="form-input")}}
      </div>
      <div class="button-container">
        <span class="nav-link zip-link"><a href="zip-lookup">Lookup City/State by Zip</a></span>
        <button class="nav-link">+ Add Address</button>
      </div>
    </form>
  </div>
{% endblock %}
